{% extends "layout.html" %}

<!DOCTYPE html>
<html lang="en">

{% block title %} Home - Spiend Tech {% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/index.css"> {% endblock %}

{% block body %}
<h1>Take care of yourself in space.</h1>
<p>We take care of your health, provide company and help you make your life in space easier using AI.</p>
<h2>Welcome to Spiend Tech.</h2>
<div class="buttons">
    <button class="btn dark" onclick="window.location.href='{{ url_for('assess') }}';">Get started
        now.</button>
</div>
<!-- TODO: ADD INFO -->
{% endblock %}